<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.descriptopn }}">
    <meta name="keywords" content="minimalrad.">
    <meta name="author" content="{{ site.name }}" />

   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

   {% if site.tags != "" %}	
   {% include collecttags.html %}
   {% endif %}

    {% if page.layout == 'post' %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.tittle}} - {{ site.description }}</title>
    {% endif %}
    
    {% feed_meta %}

</head>
