<!-- Needed for the "current" class -->
{% assign current = page.url | downcase | split: '/' %}

<header>

	<div class="wrapper">

	  <h2 class="left"><a href="/">Poin Viesta</a></h2>
		<nav class="right">

	<ul>
		<li><a href="/tentang" {% if current[1] == "bio" %}class="current"{% endif %} >Tentang</a></li>
	<li><a href="/halaman" {% if current[1] == "halaman" %}class="current"{% endif %}>Memo</a></li>
	<li><a href="/mendesak">Mendesak</a></li>
	<li><a href="/berlangganan" {% if current[1] == "langganan" %}class="current"{% endif %} >Ikuti</a></li>
	</ul>

		  
	</nav> 


        <div style="clear:both;"></div>

    </div>

</header>

